@charset "utf-8";

#site{

    .site_inner{
        padding: 16px;

        .site_title{
            position: sticky;
            top: 70px;
            left: 0;
            width: 70%;
            height: 5vw;
            font-size: 4vw;
            font-weight: 900;
            font-family: var(--mainKor-font);
            text-transform: uppercase;
            border-bottom: 0.4vw solid var(--black);
            margin-bottom: 100px;

            em{
                font-size: 20px;
                font-weight: 400;
                line-height: 2;
            }

            @media(max-width: 800px){
                width: 100%;
                height: auto;
                // font-size: 30px;
                top: 68px;
                z-index: 1000;
                background-color: var(--mainBg-color);
            }
        }
        .site_wrap{

            .site_item{
            height: 70vh;
            @include flex_center;
            flex-direction: column;
            position: sticky;
            left: 0;

            &.s1{background-color: var(--subBg100); top: 180px;}
            &.s2{background-color: var(--subBg200); top: 200px;}
            &.s3{background-color: var(--subBg300); top: 220px;}
            &.s4{background-color: var(--subBg400); top: 240px;}

            .num{
                font-size: 5vw;
                line-height: 1;
                font-weight: 900;
                font-family: var(--mainNum-font);
                position: absolute;
                top: 1vw;
            }
            .text{
                text-align: center;
                margin-bottom: 16px;

                >div{
                    font-size: 3vw;
                    line-height: 1;
                    font-weight: 900;
                    text-decoration: underline;
                    font-family: var(--mainKor-font);
                    margin-bottom: 5px;
                }
            }
            .title{
                font-family: var(--mainKor-font);
                margin-bottom: 16px;
            }
            .btn{
                
                a{
                    font-size: 16px;
                    margin: 10px;

                    &:hover{font-weight: 800;}
                }
            }
            .info{
                width: 98%;
                margin-left: 1%;
                border-top: 1px solid var(--black);
                border-bottom: 1px solid var(--black);
                display: flex;
                justify-content: space-between;
                position: absolute;
                left: 0;
                bottom: 3%;

                @media(max-width:800px){
                    flex-direction: column;
                    padding: 0 5px;
                    width: 90%;
                    margin-left: 5%;
                }

                span{
                    font-family: var(--mainNum-font);
                    font-size: 12px;
                    padding: 3px 0;
                    text-transform: uppercase;

                }
            }

            }
        }
    }
}